.div{
    background-color: rgb(77, 77, 77);
    border: 1px solid rgb(77, 77, 77);
    color: white;
    width: 100px;
    height: 100px;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.parent{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1 fr);
    grid-template-rows: repeat(3, 1 fr);
    grid-gap: 10px;
    width: 100px;
    height: 100px;
}
.div1{
    grid-column: 1 / 5;
    width: 200px;
}
.div2{
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    height: 210px;
}
.div3{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    width: 210px;
}

