body{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.parent{
    
    width: 100px;
    height: 100px;background-color: blue;
    position: relative;
    animation-duration: 3s;
    animation-name: boxmodel;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes boxmodel{
    0%{
        background-color: rgb(6, 6, 100);
    }
    10%{
        transform: translate(150px);
    }
    20%{
        bottom: 70px;
    }
    30%{
        left: 70px;
    }
    45%{
        right: 70px;
    }
    
}

