@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
}
.parent{
    background-color: hsl(0, 0%, 100%);
    width: 340px;
    height: 490px;
    border-radius: 10px;
    border: 2px solid black;
    border-right: 9px solid black;
    border-bottom: 9px solid black;
}
.ilustr{
    width: 320px;
    height: 260px;
    border-radius: 50px;
    top: 30px;
    position: absolute;
}
.p1{
    width: 90px;
    height: 30px;
    font-size: 16px;
    top: 275px;
    left: 460px;
    position: absolute;
    font-family: "Figtree",sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.p2{
    color: hsl(0, 0%, 7%);
    position: absolute;
    font-family: "Figtree",sans-serif;
    top: 315px;
    font-size: 16px;
    left: 460px;
}
h1{
    position: absolute;
    font-family: "Figtree", sans-serif;
    font-size: 23px;
    top: 350px;
    left: 460px;
}
.p3{
    position: absolute;
    color: hsl(0, 0%, 42%);
    font-family: "Figtree",sans-serif;
    font-size: 14px;
    top: 378px;
    left: 460px;
    
}
.avatare{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 470px;
    left: 460px;
}
.gregg{
    position: absolute;
    font-family: "Figtree",sans-serif;
    font-size: 12px;
    top: 475px;
    left: 500px;
}