.div1{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.div1:hover{
    transform: translate(50px);
}

.div2{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: 0.5s;
}
.div2:hover{
    transform: rotate(20deg);
}