@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Moderustic:wght@300..800&family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Moderustic:wght@300..800&family=New+Amsterdam&display=swap');


p{
    font-family: "Embed Code", sans-serif
}
#p2{
    font-family: cursive;
}
#p3{
    font-family: "New Amsterdam", sans-serif
}  